*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', 'cursive';
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
header
{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 33px 9%;
    top: 0;
    right: 0;
    background: transparent;
}
.logo
{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
body{
    background: linear-gradient(245.59deg,#4d9559 0%,#38703d 28.53%,#133917 75.52%);
}
.navlist
{
    display: flex;   
}
.navlist a{
    color: white;
    margin-left: 20px;
    font-size: 20px;
}
 #menu-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    /* display: none;  */

} 
section{
    margin-top: 150px;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hero-text
{
    box-sizing: border-box;
    margin: 10px;
}
.hero-text h1{
    color: white;
    font-size: 400%;
}
.hero-text h5,h4,p{
    color: white;

}

.side-bar
{
    
    background-color: rgb(14, 110, 56);
    display:none;
    padding-left: -20p;
    box-sizing: border-box;
    


}
.dropdown:hover .side-bar
{
    display: block;
    position: absolute;
    right: 5%;

}
.side-bar ul{
    display: block;

}
.side-bar ul li{

margin-right: 15px;
}
.dropdown
{
    display: none;

}
@media only screen and (max-width: 785px){
    .dropdown{
        display: block;
    }    
    nav
    {
        display: none;
    }
    .hero{
        width: 100%;
        text-align: center;

    }
}