*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', 'cursive';
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
header
{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 33px 9%;
    top: 0;
    right: 0;
    position: fixed;
    background: transparent;
}
.logo
{
    font-size: 40px;
    font-weight: 700;
    color: white;
}
body{
    background: green;
}
.navlist
{
    display: flex;   
}
.navlist a{
    color: white;
    margin-left: 60px;
    font-size: 20px;
}
#menu-icon {
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
    
}